<div>
  <div class="card-body">
    <div class="row">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button"
                class="btn btn-primary btn-sm"
                (click)="toggleStatus()">
          {{showStatus ? "Hide" : "Show"}} Status
        </button>
      </div>
      <div class="input-group">
        <span class="input-group-text">Filter by:</span>
        <input type="text"
               class="form-control"
               placeholder="Input filter text"
               [(ngModel)]="sensorFilter">
      </div>
    </div>
  </div>
  <div>
    <table class="table text-center" *ngIf="sensorData.length">
      <thead>
      <tr>
        <th scope="col">Sensor</th>
        <th scope="col">Temperature, %</th>
        <th scope="col">Humidity, %</th>
        <th scope="col">Illuminance, Lux</th>
        <th scope="col">WindSpeed, m/s</th>
        <th scope="col" *ngIf="showStatus">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filteredSensorData">
        <td>
          <a [routerLink]="['/sensors', data.sensor]">
            {{ data.sensor }}
          </a>
        </td>
        <td>{{data.temperature ? data.temperature : "-"}}</td>
        <td>{{data.humidity ? data.humidity : "-"}}</td>
        <td>{{data.illuminance ? data.illuminance : "-"}}</td>
        <td>{{data.windSpeed ? data.windSpeed : "-"}}</td>
        <td>
          <div class="spinner-grow text-success"
               role="status"
               *ngIf="showStatus">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
