<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/support-logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:10px"/>
      </div>

      <div class="text-center">Developed by:</div>
      <h2 class="text-center">
        <h3>Viacheslav Melnichenko</h3>
      </h2>

      <div class="text-center">
        <a href="https://gitlab.com/melnichenkoviacheslav/green-house">gitlab</a>
      </div>
    </div>
  </div>
</div>
