<div class="card">
  <div class="card-header fw-bold">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <table class="table" *ngIf="sensorData">
      <thead>
      <tr>
        <th scope="col">Sensor</th>
        <th scope="col">Temperature, %</th>
        <th scope="col">Humidity, %</th>
        <th scope="col">Illuminance, Lux</th>
        <th scope="col">WindSpeed, m/s</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{sensorData.sensor}}</td>
        <td>{{sensorData.temperature ? sensorData.temperature : "-"}}</td>
        <td>{{sensorData.humidity ? sensorData.humidity : "-"}}</td>
        <td>{{sensorData.illuminance ? sensorData.illuminance : "-"}}</td>
        <td>{{sensorData.windSpeed ? sensorData.windSpeed : "-"}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary"
            (click)="onBack()">
      Back
    </button>
  </div>
</div>
