<nav class="navbar navbar-expand navbar-light bg-light">
  <h1 class="navbar-brand" href="">{{pageTitle}}</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let route of navigationRoutes">
      <a class="nav-link"
         routerLink='{{route.routerLink}}'
         routerLinkActive="active"
         aria-current="page"
         href="{{route.routerLink}}">{{route.routerName}}
      </a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
